{% extends 'layouts/master.html' %}
{% block title %}
    salary - Edit
{% endblock %}

{% block content %}
    <h1> This is salary edit page</h1>
    <a href="{% url 'sal-index' %}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"> BACK</i></a>
   
   <form action="{% url 'sal-update' %}" method="post">
    {% csrf_token %}
    
    <input type="hidden" name="id" value="{{ data.id }}">
    

    <div class="form-group mb-2">
        <label class="mb-2">Salary Amount</label>
        <input type="text" class="form-control" name="salary_amount" value="{{ data.salary_amount }}">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2">Bonus Amount</label>
        <input type="text" class="form-control" name="bonus_amount" value="{{ data.bonus_amount }}">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2">Allowance</label>
        <input type="text" class="form-control" name="allowance" value="{{ data.allowance }}">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2">TDS in Percent Amount</label>
        <input type="text" class="form-control" name="tds_in_percent_amount" value="{{ data.tds_in_percent_amount }}">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2">Start Date</label>
        <input type="date" class="form-control" name="start_date" value="{{ data.start_date }}">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2">End Date</label>
        <input type="date" class="form-control" name="end_date" value="{{ data.end_date }}">
    </div>

    <input type="submit" class="btn btn-primary" value="UPDATE">
</form>

{% endblock %}